<%= simple_form_for(@sourcemod_plugin, :method => :get, :html => {:class => 'form-stacked' }) do |f| %>

<div class="clearfix">
  <label>Name</label>
  <%= f.input :name, :label => false %>
</div>

<div class="clearfix">
  <label>Tags</label>
  <%= f.association :tags, :label => false, :input_html => {:multiple => "1"} %>
</div>

<%= f.submit "Filter" %>

<% end %>
