<% title "Metrics" %>
<h1>Metrics</h1>

<p>Various interesting metrics</p>


<h3>Translations</h3>
<div id="translations_chart" style="width:900px;height:300px;"></div>

<h3>Plugins</h3>
<div id="plugins_chart" style="width:900px;height:300px;"></div>



<div class="row">
  <div class="span7">
    <h3>Users</h3>
    <div id="users_chart" style="width:600px;height:300px;"></div>
  </div>
  <div class="span5">
    <h3>Auth Provider</h3>
    <div id="users_pie" style="width:300px;height:300px;"></div>
  </div>
</div>