<% title "Changelog" %>
<h1>Changelog</h1>

<p><strong>Current Version:</strong> <%= $VERSION %></p>

<p>I will try to keep this updated with changes I make in each version.</p>

<h3>0.1.1 - (2013-01-07)</h3>
<ul>
  <li>Added <%= link_to "contact", contact_path %> page</li>
  <li>Added <%= link_to "changelog", contact_path %> page</li>
  <li>Fixed phrase file parser to better handle quotes.</li>
  <li>Fixed the <%= link_to "Translate!", random_translations_path %> link to let you do translations forever</li>
</ul>