<% title "Contact" %>
<h1>Contact</h1>

<p>If you want to contact me, please use one of the methods listed below.</p>



<h4>IRC</h4>
<dl>
  <dt>Network</dt>
  <dd>irc.gamesurge.net</dd>
  
  <dt>Channel</dt>
  <dd>#sourcemod</dd>

  <dt>Nickname</dt>
  <dd>webdestroya</dd>
</dl>


<h4>SourceMod Forums</h4>
<dl>
  <dt>Username</dt>
  <dd>WebDestroya</dd>

  <dt>Profile</dt>
  <dd><%= link_to "https://forums.alliedmods.net/member.php?u=40289", "https://forums.alliedmods.net/member.php?u=40289", :target => "_blank" %></dd>

  <dt>Translator Post</dt>
  <dd><%= link_to "http://forums.alliedmods.net/showthread.php?t=203440", "http://forums.alliedmods.net/showthread.php?t=203440", :target => "_blank" %></dd>
  
</dl>


<h4>Website</h4>
<p>You can also visit my <a href="http://www.mitchdempsey.com/?utm_source=smtrans&utm_medium=website&utm_campaign=contact">personal website</a> if you wish.</p>

<h4>GitHub</h4>
<p>Feel free to report issues or pull requests at the project page. <%= link_to "https://github.com/webdestroya/sourcemod-translator", "https://github.com/webdestroya/sourcemod-translator", :target => "_blank" %>.