<% title "Contact" %>
<h1>Contact</h1>

<p>If you want to contact me, please use one of the methods listed below.</p>


<h4>IRC</h4>
<dl>
  <dt>Network</dt>
  <dd>irc.gamesurge.net</dd>
  
  <dt>Channel</dt>
  <dd>#sourcemod</dd>

  <dt>Nickname</dt>
  <dd>webdestroya</dd>
</dl>


<h4>SourceMod Forums</h4>
<dl>
  <dt>Username</dt>
  <dd>WebDestroya</dd>

  <dt>Profile</dt>
  <dd><%= link_to "https://forums.alliedmods.net/member.php?u=40289", "https://forums.alliedmods.net/member.php?u=40289", :target => "_blank" %></dd>

  <dt>Translator Post</dt>
  <dd><%= link_to "http://forums.alliedmods.net/showthread.php?t=203440", "http://forums.alliedmods.net/showthread.php?t=203440", :target => "_blank" %></dd>
  
</dl>