<% title t('.about_title') %>

<div class="hero-unit">
  <h1>t('.welcome_to_smt')</h1>
  <p>t('.welcome_to_smt_desc')
  </p>
  <p>
    <%= link_to t('.get_started'), get_started_path, :class => "btn btn-primary btn-large" %>
  </p>
</div>


<div class="row">
  <div class="span4">
    <h2>t('.translators')</h2>
    <p>t('.translators_desc')
    </p>
    <p><%= link_to(t('.get_started_translators'), get_started_path, :class => "btn") unless current_user %></p>
  </div>
  <div class="span4">
    <h2>t('.developers')</h2>
    <p>t('.developers_desc')</p>
    <p><%= link_to(t('.get_started_dev'), get_started_path, :class => "btn") unless current_user %></p>
  </div>
  <div class="span4">
    <h2>t('.no_registration')</h2>
    <p>t('.no_registration_desc')</p>
    <p><%= link_to(t('.get_started_not_registed'), get_started_path, :class => "btn") unless current_user %></p>
  </div>
</div>
