<% title "About" %>

<div class="hero-unit">
  <h1>Welcome to SourceMod Translator!</h1>
  <p>This application allows plugin developers to upload Phrase files from plugins, and other users can add translations for languages they are fluent in.
  </p>
  <p>
    <%= link_to "Get Started!", get_started_path, :class => "btn btn-primary btn-large" %>
  </p>
</div>


<div class="row">
  <div class="span4">
    <h2>Translators</h2>
    <p>
      Are you bilingual? Do you enjoy helping others in the community?
      You can help internationalize plugins by adding translations for phrases.
    </p>
    <p><%= link_to(image_tag("sits_large_noborder.png"), get_started_path) unless current_user %></p>
  </div>
  <div class="span4">
    <h2>Developers</h2>
    <p>
      Want to support multiple languages in your plugin, but only know English?
      Upload your plugin and let others add translations!
    </p>
    <p><%= link_to(image_tag("sits_large_noborder.png"), get_started_path) unless current_user %></p>
  </div>
  <div class="span4">
    <h2>Login with STEAM</h2>
    <p>
      Connect using your Steam account. We never see your password, and you never have to remember another username!
    </p>
    <p><%= link_to(image_tag("sits_large_noborder.png"), get_started_path) unless current_user %></p>
  </div>
</div>
