// Place all the styles related to the sourcemod_plugins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

dl.translation-progress {
  dt {
    width:40px;
  }
  dd {
    margin-left: 60px;
    .progress {
      margin-bottom:5px;
      width:500px;
    }
  }
}