// Place all the styles related to the sourcemod_plugins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

dl.translation-progress {
  dt {
    width:180px;
  }
  dd {
    margin-left: 200px;
    .progress {
      margin-bottom:5px;
      width:550px;
    }
  }
  dt.detailed, dd.detailed {
    display:none;
  }
}

tr.no-english {
  td {
    background-color: #F2DEDE !important;
  }
}

ul.taglist {
  li {
    list-style-type: none;
    margin:0;
    padding:0;
    display:inline;
    &:after {
      content: ",";
    }
  }
  li:last-child:after {
    content: "";
  }
}

div.plugin-row {
  border-bottom:1px solid #EAEAEA;
  margin-left:0;
  margin-top:10px;
  padding-bottom:0px;

  .participation-graph {
    text-align: right;
    margin-right:30px;
    margin-bottom:-5px;
  }

  .span6 {
    margin-left:0;
  }
  h4 {
    margin:0;
    padding:0;
    padding-left:4px;
    border-left:4px solid #fff;
    margin-left:-8px;
    small {
      display:inline;
    }
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  ul.taglist {
    margin-left:0;
    display:inline-block;
  }

  .stats {
    margin-left:15px;
    font-size:90%;
    dl {
      margin-top:0;
      margin-bottom:0;
      dt {
        width:90px;
      }
      dd {
        margin-left:110px;
      }
    }
  }
}
div.plugin-row.no-phrases {
  h4 {
    a {
      color:#B94A48;
    }
  }
}


div.search-form {
  border-left: 1px solid #eee;
  padding-left:20px;

  font-size:95%;

  h3 {
    margin-top:0;
    line-height:1em;
  }

  label {
    font-weight:bold;
    margin-bottom:0;
  }

  ul {
    margin-top:0;
  }

  .search-field {
    margin-bottom:10px;
    input {
      margin-bottom: 0;
    }
  }
}