// Place all the styles related to the sourcemod_plugins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

dl.translation-progress {
  dt {
    width:180px;
  }
  dd {
    margin-left: 200px;
    .progress {
      margin-bottom:5px;
      width:550px;
    }
  }
  dt.detailed, dd.detailed {
    display:none;
  }
}

tr.no-english {
  td {
    background-color: #F2DEDE !important;
  }
}

ul.taglist {
  li {
    list-style-type: none;
    margin:0;
    padding:0;
    display:inline;
    &:after {
      content: ",";
    }
  }
  li:last-child:after {
    content: "";
  }
}

div.plugin-row {
  
  h4 {
    margin:0;
    padding:0;
    padding-left:4px;
    border-left:4px solid #fff;
    margin-left:-8px;
  }

  ul.taglist {
    margin-left:0;
    display:inline-block;
  }

  .stats {
    margin-left:15px;
    font-size:90%;
    dl {
      margin-top:0;
      margin-bottom:0;
      dt {
        width:90px;
      }
      dd {
        margin-left:110px;
      }
    }
  }

  &:hover {
    h4 {
      border-left:4px solid #08C;
    }
  }
}