// Place all the styles related to the translations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.translation {
  h5 {
    margin-bottom:0;
  }
  dl {
    margin-top:0;
    margin-bottom:0;
    dt {
      width:40px;
    }
    dd {
      margin-left:60px;
    }
  }
  border-bottom:1px solid #ccc;
  padding-bottom:5px;
}

span.fancy-text {
  a[rel=tooltip] {
    background-color:#eee;
  }
  div.tooltip {
    font-family:sans-serif;
  }
  .colorized {
    // See colors.css.scss for color definitions
    font-family:Verdana,Tahoma,sans-serif;
    font-size: 14px;
    //font-weight:bold;
  }
  em {
    font-style: normal;
    //font-weight:normal;
    cursor: help;
  }
  em:hover {
    border-bottom: 2px solid #000;
  }
}

dd.ingame-preview,
dt.ingame-preview {
  margin-top:10px;
  small {
    display:block;
  }
}
