// Place all the styles related to the translations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.translation {
  h5 {
    margin-bottom:0;
  }
  dl {
    margin-top:0;
    margin-bottom:0;
    dt {
      width:40px;
    }
    dd {
      margin-left:60px;
    }
  }
  border-bottom:1px solid #ccc;
  padding-bottom:5px;
}

span.fancy-text {
  a[rel=tooltip] {
    background-color:#eee;
  }
  div.tooltip {
    font-family:sans-serif;
  }
  .colorized {
    .color-green {color:green;}
  }
}